<div class="insta">
<div class="container">
    <div class="box">
        <div class="heading"></div>
            <p style="color:red"><%= flash[:notice] %></p>
                <div class="login-form">
                <%= form_with do |form| %>

                <div class="field"> 
                    <%= form.text_field :username, placeholder: "user name" %>
                </div>

                <div class="field">
                    <%= form.password_field :password, placeholder: "password" %>
                </div>

                <div class="login-button">
                    <%= form.submit "Login"%>
                </div>
                <% end %>
                </div>
</div>
</div>
</div>

